<!-- Navbar -->
<div class="navbar-stotles">

  <!-- Logo -->
  <a href="" class="navbar-stotles-brand">
    stotles<span class="brand-accent">.</span>
  </a>

  <!-- Right Navigation -->

  <div class="navbar-stotles-right d-none d-sm-block">
    <a href="#benefits" class="navbar-stotles-item navbar-stotles-link">About</a>
    <a href="https://carstenschaltz.typeform.com/to/BGLKcT" class="navbar-stotles-item navbar-stotles-link" target="_blank">Contact Us</a>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-stotles-item d-sm-none">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-stotles-dropdown-menu">
        <li><a href="#benefits">About</a></li>
        <li><a href="https://carstenschaltz.typeform.com/to/BGLKcT" target="_blank">Contact Us</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- Main landing page -->
<div class="banner">
  <div class="container">
    <div class="row no-gutters align-items-center">
      <div class="col-xs-12 col-sm-8">
        <div class="banner-content">
          <h1>Grow your slice of the public sector pie.</h1>
          <p>Sales intelligence to keep you ahead of the curve and win more government business.</p>
          <a href="#typeform" class="btn btn-border-to-solid btn-lg d-none d-sm-inline">Learn more</a>
        </div>
      </div>
      <div class="col-xs-4 col-xs-offset-4 col-sm-4 col-sm-offset-0">
        <img src="images/government_landing1.png" alt="building fraction" id='landing-img'>
      </div>
    </div>
  </div>
</div>

<!-- Benefits -->
<div class="wrapper" id="benefits">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-xs-12 col-md-4">
        <div class="benefit-content text-center">
          <img src="images/curve_landing3.png" alt="curve" id="benefit-icon">
          <h3>Get ahead of the curve</h3>
          <p>Intelligence about government purchasing trends to identify opportunities, strategize effectively, and win more contracts.</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="benefit-content text-center">
          <img src="images/check_landing3.png" alt="curve" id="benefit-icon">
          <h3>No more guess-and-check</h3>
          <p>Use historical information and transactions to inform your bids and improve your award outcomes.</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="benefit-content text-center">
          <img src="images/eye_landing3.png" alt="curve" id="benefit-icon">
          <h3>Keep an eye out</h3>
          <p>Insights on competitor actions, so you know where you stand, and you never miss out.</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="benefit-content text-center">
          <img src="images/people_landing3.png" alt="curve" id="benefit-icon">
          <h3>It’s not only what you know, it’s also who you know</h3>
          <p>Know the right people and agencies to spend time on the right relationships.</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="benefit-content text-center">
          <img src="images/rocket_landing3.png" alt="curve" id="benefit-icon">
          <h3>Find new frontiers</h3>
          <p>Identify a wealth of new opportunities in different geographies, industries, and more.</p>
        </div>
      </div>
    </div>
    <div class="text-center">
    <br>
    <a href="https://carstenschaltz.typeform.com/to/BGLKcT" class="btn btn-solid btn-lg" target="_blank">Get in touch</a>
    </div>
  </div>
</div>


 <!-- How We Help -->
<div class="wrapper">
  <div class="container">
    <h2 class="mb-5">How we help.</h2>
    <img src="images/4.png" alt="" id="how-works">
  </div>
</div>

<!-- Your time to shine -->
<div class="wrapper">
  <div class="container">
    <h2>It's your time to shine.</h2>
    <div class="row no-gutters">
      <div class="col-xs-12 col-md-6">
        <div class="math-content">
          <img src="images/pie_crop.PNG" alt="search">
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="math-content">
          <img src="images/math.PNG" alt="document">
        </div>
      </div>
    </div>
  </div>
</div>




<!-- Contact Us -->
<div class="wrapper">
  <div class="container text-center">
    <div id="typeform" class="d-none d-sm-block">
      <div class="typeform-widget" data-url="https://carstenschaltz.typeform.com/to/BGLKcT" style="width: 100%; height: 500px;"></div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script> <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;"> powered by <a href="https://admin.typeform.com/signup?utm_campaign=BGLKcT&utm_source=typeform.com-12931805-Basic&utm_medium=typeform&utm_content=typeform-embedded-poweredbytypeform&utm_term=EN" style="color: #999" target="_blank">Typeform</a></div>
    </div>
    <a href="https://carstenschaltz.typeform.com/to/BGLKcT" class="btn btn-solid btn-lg d-sm-none" target="_blank">Get in touch</a>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

